.btn {
	text-decoration: none;
	cursor: pointer;
	font: inherit;
	background-color: #03be9f;
	border: 0.1rem solid #03be9f;
	border-radius: 0.6rem;
	color: #dafff7;
	padding: 0.5rem 1.5rem;
	text-align: center;
	box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
	transition: all 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.btn:hover,
.btn:active {
	background-color: #02afa1;
	border-color: #02afa1;
}
