.logistics {
	box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
	border-radius: 0.6rem;
	background-color: #2b2b2b;
	padding: 1em;
	max-width: 50rem;
	width: 80%;
	margin: -1.5em auto;
	color: #d5eeeb;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	flex-direction: column;
	align-items: center;
}

.image {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	overflow: hidden;
	border: 0.5rem solid white;
}

.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.list {
	flex: 3;
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logistics address {
	white-space: pre;
}

@media (min-width: 768px) {
	.logistics {
		padding: 1em;
		margin: -2.5em auto;
		gap: 3rem;
		flex-direction: row;
		align-items: stretch;
	}

	.image {
		width: 25rem;
		height: 25rem;
	}

	.list {
		align-items: flex-start;
	}
}
