.content {
	width: 95%;
	max-width: 96rem;
	margin: var(--size-8) auto;
	font-size: var(--size-5);
	line-height: var(--size-8);
	background-color: var(--color-grey-100);
	border-radius: 0.6rem;
	padding: var(--size-4);
}

.content a,
.content a:visited,
.content a:active {
	color: var(--color-success-500);
	font-weight: 500;
}

.content p {
	color: var(--color-grey-800);
}

.content .image {
	margin: var(--size-4) auto;
	width: 100%;
	max-width: 60rem;
}

@media (min-width: 768px) {
	.content {
		padding: var(--size-8);
	}
}
