.latest {
	width: 90%;
	max-width: 128rem;
	margin: var(--size-8) auto;
}

.latest h2 {
	font-size: var(--size-8);
	color: var(--color-grey-100);
	text-align: center;
}

@media (min-width: 768px) {
	.latest h2 {
		font-size: var(--size-16);
	}
}
