.summary {
	width: 100%;
	height: 13rem;
	background-image: linear-gradient(to bottom left, #008b79, #1180a1);
}

.summary h1 {
	margin: 0;
	padding-top: 0.5em;
	font-size: var(2rem + var(--incerment-1));
	text-align: center;
	text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	color: white;
	position: relative;
	z-index: 2;
}

@media (min-width: 768px) {
	.summary h1 {
		font-size: var(5rem + var(--incerment-1));
	}
}
