.header {
	width: 100%;
	height: 8rem;
	background-color: #38015c;
	box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
}

.logo {
	font-family: 'Lato', sans-serif;
	font-size: 3.2rem;
	color: white;
	margin: 0;
}

.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: baseline;
}

.header li {
	margin: 0 1.6rem;
}

.header a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.header button {
	font: inherit;
	background-color: transparent;
	border: 0.1rem solid white;
	color: white;
	font-weight: bold;
	padding: 0.8rem 2.4rem;
	border-radius: 0.6rem;
	cursor: pointer;
}

.header a:hover {
	color: #c291e2;
}

.header button:hover {
	background-color: #c291e2;
	color: #38015c;
}
