.item {
	box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3),
		0 0.1rem 1.2rem 0.2rem rgba(0, 0, 0, 0.2);
	width: 80%;
	margin: 0.5em auto;
	border-radius: 0.8rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	transition: box-shadow 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item:hover {
	box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5),
		0 0.1rem 1.2rem 0.2rem rgba(0, 0, 0, 0.4);
}

.item:focus {
	box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.7),
		0 0.1rem 1.2rem 0.2rem rgba(0, 0, 0, 0.6);
}

.item .img {
	width: 100%;
	height: 14rem;
	min-height: 100%;
	max-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.content {
	width: 100%;
	padding: 0 1rem;
	text-align: center;
}

.content h2 {
	margin: 0.15em 0;
}

.date,
.address {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

.date svg,
.address svg {
	width: 2.2rem;
	height: 2.2rem;
	color: #666666;
}

.content time {
	color: #666666;
	font-weight: bold;
}

.content address {
	margin: 0.25em 0;
	color: #666666;
	white-space: pre;
}

.actions {
	display: flex;
	flex-direction: column;
	padding: 0.75em;
}

.actions a {
	display: block;
}

.actions a span {
	vertical-align: middle;
}

.icon {
	margin-left: 0.25em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.icon svg {
	width: 2.2rem;
	height: 2.2rem;
}

@media (min-width: 760.8px) {
	.item {
		flex-direction: row;
		min-width: 55rem;
		width: calc(55rem + 30%);
		max-width: 90%;
	}

	.item .img {
		width: 40%;
		height: auto;
		min-height: 100%;
		max-height: 100%;
		background-attachment: initial;
		background-position: center;
		background-size: cover;
	}

	.content {
		width: 60%;
		padding: 0em;
		text-align: left;
	}

	.content h2 {
		margin: 0.25em 0;
	}

	.actions {
		flex-direction: row;
		justify-content: flex-end;
	}
}
