.events__EventIist__EventItem {
	box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3),
		0 0.1rem 1.2rem 0.2rem rgba(0, 0, 0, 0.2);
	width: 80%;
	margin: 1rem auto;
	border-radius: 0.8rem;
	overflow: hidden;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	transition: box-shadow 3s cubic-bezier(0.075, 0.82, 0.165, 1);

	&:hover {
		box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5),
			0 0.1rem 1.2rem 0.2rem rgba(0, 0, 0, 0.4);
	}

	&:focus {
		box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.7),
			0 0.1rem 1.2rem 0.2rem rgba(0, 0, 0, 0.6);
	}

	.img {
		width: 100%;
		height: 15rem;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	.content {
		width: 100%;
		padding: 0 1rem;
		text-align: center;

		h2 {
			margin: 0.5rem 0;
		}

		address {
			margin: 0.5rem 0;
			color: #666666;
			white-space: pre;
		}

		time {
			color: #666666;
			font-weight: bold;
		}
	}

	.date,
	.address {
		display: flex;
		gap: 0.5rem;
		align-items: center;

		svg {
			width: 2.2rem;
			height: 2.2rem;
			color: #666666;
		}
	}

	.actions {
		display: flex;
		flex-direction: column;
		padding: 1rem;

		a {
			display: block;

			span {
				vertical-align: middle;
			}
		}
	}

	.icon {
		margin-left: 0.5rem;
		display: inline-flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 2.2rem;
			height: 2.2rem;
		}
	}

	@media (min-width: 760.8px) {
		flex-direction: row;
		min-width: 55rem;
		width: calc(55rem + 30%);
		max-width: 90%;

		.img {
			width: 40%;
			height: auto;
			min-height: 100%;
			max-height: 100%;
			background-attachment: initial;
			background-position: center;
			background-size: cover;
		}

		.content {
			width: 60%;
			padding: 0;
			text-align: left;

			h2 {
				margin: 1rem 0;
			}
		}

		.actions {
			flex-direction: row;
			justify-content: flex-end;
		}
	}
}
