.alert {
	margin: 1rem auto;
	padding: 1rem 2rem;
	width: 90%;
	max-width: 40rem;
	background-color: #d5bdfc;
	color: #38028d;
	font-weight: bold;
	font-size: calc(1.5rem + var(--incerment-1));
	text-align: center;
	border-radius: 0.6rem;
}
