@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  --color-grey-50: hsl(265, 55%, 96%);
  --color-grey-100: hsl(265, 19%, 88%);
  --color-grey-200: hsl(265, 7%, 70%);
  --color-grey-300: hsl(265, 6%, 66%);
  --color-grey-400: hsl(265, 4%, 57%);
  --color-grey-500: hsl(265, 3%, 53%);
  --color-grey-600: hsl(265, 4%, 42%);
  --color-grey-700: hsl(265, 4%, 31%);
  --color-grey-800: hsl(276, 5%, 20%);
  --color-grey-900: hsl(280, 5%, 13%);

  --color-primary-50: #c8b3ce;
  --color-primary-100: #a07aaa;
  --color-primary-200: #884c97;
  --color-primary-300: #843897;
  --color-primary-400: #732392;
  --color-primary-500: #5a097a;
  --color-primary-600: #480264;
  --color-primary-700: #3d0264;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-error-100: #f1acc9;
  --color-error-500: #a10c4a;

  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  background-color: var(--color-grey-500);
  color: #252525;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Oswald', 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

/*----------------------------*/
/* GLOBAL STYLES */
/*----------------------------*/

#__next {
	min-width: 100%;
	min-height: 100vh;
}

:root {
	--main-font-color: black;
	--main-bg-color: white;
	--main-special-color-1: black;
	--main-special-color-2: white;

	--theme-light-1-bg-color-1: #fff;
	--theme-light-1-font-color-1: #000;
	--theme-light-1-special-color-1: #c6541f;
	--theme-light-1-special-color-2: #090b97;

	--theme-light-2-bg-color-1: #eee;
	--theme-light-2-font-color-1: #333;
	--theme-light-2-special-color-1: #df2fc7;
	--theme-light-2-special-color-2: #4f0011;

	--theme-light-3-bg-color-1: #ddd;
	--theme-light-3-font-color-1: #555;
	--theme-light-3-special-color-1: #970900;
	--theme-light-3-special-color-2: #c2ff15;

	--theme-dark-1-bg-color-1: #000;
	--theme-dark-1-font-color-1: #fff;
	--theme-dark-1-special-color-1: #970928;
	--theme-dark-1-special-color-2: #521c03;

	--theme-dark-2-bg-color-1: #333;
	--theme-dark-2-font-color-1: #eee;
	--theme-dark-2-special-color-1: #9e3809;
	--theme-dark-2-special-color-2: #4f0011;

	--theme-dark-3-bg-color-1: #555;
	--theme-dark-3-font-color-1: #ddd;
	--theme-dark-3-special-color-1: #d94500;
	--theme-dark-3-special-color-2: #5e0000;
}
::selection {
	color: var(--main-bg-color);
	background: var(--main-font-color);
}

// ::-webkit-scrollbar {
// 	// width: calc(1.5rem + 0.2vw);
// }
// ::-webkit-scrollbar-track {
// 	background: var(--main-font-color);
// }
// ::-webkit-scrollbar-thumb {
// 	background: var(--main-bg-color);
// 	border-radius: 1rem;
// }
// ::-webkit-scrollbar-button {
// 	background: var(--main-bg-color);
// }

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
	--incerment-1: 0.25vw;
	--header1: calc(4rem + var(--incerment-1));
	--header2: calc(3.2rem + var(--incerment-1));
	--header3: calc(2.6rem + var(--incerment-1));
	--header4: calc(2.4rem + var(--incerment-1));
	--header5: calc(2rem + var(--incerment-1));
	--header6: calc(1.6rem + var(--incerment-1));
	--small-size-text-1: calc(0.7rem + var(--incerment-1));
	--small-size-text-2: calc(1rem + var(--incerment-1));
	--small-size-text-3: calc(1.3rem + var(--incerment-1));
	--normal-size-text-1: calc(1.6rem + var(--incerment-1));
	--normal-size-text-2: calc(1.9rem + var(--incerment-1));
	--normal-size-text-3: calc(2.2rem + var(--incerment-1));
	--big-size-text-1: calc(9rem + var(--incerment-1));
	--big-size-text-2: calc(11rem + var(--incerment-1));
	--big-size-text-3: calc(13rem + var(--incerment-1));
}

:root {
	--main-font-color: black;
	--main-bg-color: white;
	--main-special-color-1: black;
	--main-special-color-2: white;

	--theme-light-1-bg-color-1: #fff;
	--theme-light-1-font-color-1: #000;
	--theme-light-1-special-color-1: #c6541f;
	--theme-light-1-special-color-2: #090b97;

	--theme-light-2-bg-color-1: #eee;
	--theme-light-2-font-color-1: #333;
	--theme-light-2-special-color-1: #df2fc7;
	--theme-light-2-special-color-2: #4f0011;

	--theme-light-3-bg-color-1: #ddd;
	--theme-light-3-font-color-1: #555;
	--theme-light-3-special-color-1: #970900;
	--theme-light-3-special-color-2: #c2ff15;

	--theme-dark-1-bg-color-1: #000;
	--theme-dark-1-font-color-1: #fff;
	--theme-dark-1-special-color-1: #970928;
	--theme-dark-1-special-color-2: #521c03;

	--theme-dark-2-bg-color-1: #333;
	--theme-dark-2-font-color-1: #eee;
	--theme-dark-2-special-color-1: #9e3809;
	--theme-dark-2-special-color-2: #4f0011;

	--theme-dark-3-bg-color-1: #555;
	--theme-dark-3-font-color-1: #ddd;
	--theme-dark-3-special-color-1: #d94500;
	--theme-dark-3-special-color-2: #5e0000;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font-size: var(--normal-size-text-1);
}

.theme-light-1 {
	--main-special-color-1: var(--theme-light-1-special-color-1);
	--main-special-color-2: var(--theme-light-1-special-color-2);
	--main-bg-color: var(--theme-light-1-bg-color-1);
	--main-font-color: var(--theme-light-1-font-color-1);
}
.theme-light-2 {
	--main-special-color-1: var(--theme-light-2-special-color-1);
	--main-special-color-2: var(--theme-light-2-special-color-2);
	--main-bg-color: var(--theme-light-2-bg-color-1);
	--main-font-color: var(--theme-light-2-font-color-1);
}
.theme-light-3 {
	--main-special-color-1: var(--theme-light-3-special-color-1);
	--main-special-color-2: var(--theme-light-3-special-color-2);
	--main-bg-color: var(--theme-light-3-bg-color-1);
	--main-font-color: var(--theme-light-3-font-color-1);
}

.theme-dark-1 {
	--main-special-color-1: var(--theme-dark-1-special-color-1);
	--main-special-color-2: var(--theme-dark-1-special-color-2);
	--main-bg-color: var(--theme-dark-1-bg-color-1);
	--main-font-color: var(--theme-dark-1-font-color-1);
}
.theme-dark-2 {
	--main-special-color-1: var(--theme-dark-2-special-color-1);
	--main-special-color-2: var(--theme-dark-2-special-color-2);
	--main-bg-color: var(--theme-dark-2-bg-color-1);
	--main-font-color: var(--theme-dark-2-font-color-1);
}
.theme-dark-3 {
	--main-special-color-1: var(--theme-dark-3-special-color-1);
	--main-special-color-2: var(--theme-dark-3-special-color-2);
	--main-bg-color: var(--theme-dark-3-bg-color-1);
	--main-font-color: var(--theme-dark-3-font-color-1);
}

.theme-light-1,
.theme-light-2,
.theme-light-3,
.theme-dark-1,
.theme-dark-2,
.theme-dark-3 {
	&:not(.no-theme),
	*:not(.no-theme) {
		.current-theme {
			&:not(.no-font-theme) {
				color: var(--main-font-color);
			}
			&:not(.no-font-theme) {
				background: var(--main-bg-color);
			}
		}

		.reverse-theme {
			&:not(.no-font-color-theme) {
				color: var(--main-bg-color);
			}
			&:not(.no-bg-color-theme) {
				background: var(--main-font-color);
			}
		}
	}
}

.no-theme {
	color: unset;
	background-color: unset;
}

html,
body {
	width: 100%;
	height: 100%;
}
body {
	color: var(--main-font-color);
	background: var(--main-bg-color);
	overflow-x: hidden;
	max-width: 200rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

h1 {
	font-size: var(--header1);
}
h2 {
	font-size: var(--header2);
}
h3 {
	font-size: var(--header3);
}
h4 {
	font-size: var(--header4);
}
h5 {
	font-size: var(--header5);
}
h6 {
	font-size: var(--header6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	* {
		font-size: inherit;
	}
}

span {
	font-size: inherit;
}

ul {
	list-style: none;
}

a {
	// color: var(--main-font-color);
	color: inherit;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus,
	&:visited {
		color: inherit;
	}
}

ul,
ol,
dl,
li {
	text-decoration: none;
	list-style: none;
}

button,
a {
	cursor: pointer;
}

.font-size-inherit {
	font-size: inherit !important;
}
